@model SSpartanoInmobiliaria.Models.Inquilino

@{
    ViewData["Title"] = "Modificación Inquilino";
}

<h1>Modificación</h1>
<h4>Inquilino</h4>
@ViewData["Error"]
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dni" class="control-label"></label>
                <input type="number" asp-for="Dni" class="form-control" />
                <span asp-validation-for="Dni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input type="number" asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LugarTrabajo" class="control-label"></label>
                <input asp-for="LugarTrabajo" class="form-control" />
                <span asp-validation-for="LugarTrabajo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GaranteNombre" class="control-label"></label>
                <input asp-for="GaranteNombre" class="form-control" />
                <span asp-validation-for="GaranteNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GaranteApellido" class="control-label"></label>
                <input asp-for="GaranteApellido" class="form-control" />
                <span asp-validation-for="GaranteApellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GaranteDni" class="control-label"></label>
                <input type="number" asp-for="GaranteDni" class="form-control" />
                <span asp-validation-for="GaranteDni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GaranteTelefono" class="control-label"></label>
                <input type="number" asp-for="GaranteTelefono" class="form-control" />
                <span asp-validation-for="GaranteTelefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GaranteEmail" class="control-label"></label>
                <input asp-for="GaranteEmail" class="form-control" />
                <span asp-validation-for="GaranteEmail" class="text-danger"></span>
            </div>

            <hr />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-sm btn-outline-success" />
                <a class="btn btn-sm btn-outline-dark" asp-action="Index">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
